////////////////////////////////
// Variables
@import "variables";


////////////////////////////////
// CSS Reset
@import "sass-meyer-reset/sass-meyer-reset";
main {display: block} // correct IE8 rendering


////////////////////////////////
// Helpers
@import "helpers/mixins";
@import "helpers/fonts";


////////////////////////////////
// Components
@import "components/buttons";
@import "components/select-box";


////////////////////////////////
// Partials
@import "partials/typography";
@import "partials/header";
@import "partials/footer";
@import "partials/share";
@import "partials/navigation";


////////////////////////////////
// Modules
@import "modules/modal";


////////////////////////////////
// General
.fixed {
    position: fixed;
    overflow-x: hidden;
    overflow-y: scroll;
}

body {
    background: red;
    color: #fff;
}